.header.f.f-col
    .header-top.f.jc-sb.ai.w-100
        .header-block.f.ai
            .header-logo 
                img(src="../img/logo.svg", alt="")
            .header-info.f.f-col
                .header-title Логотип 
                .header-text Инжиниринговая компания

        .header-search.f
            .header-search_input
                input(type="text", name="")
                img(src="../img/find_gray.svg", alt="")
            
            img(src="../img/find_orange.svg", alt="")
    .header-pagination.f.jc
        .header-pagination_wrapper.f.jc-sb
            a(href='#').header-pagination_item.tac О компании
            a(href='#').header-pagination_item.tac Услуги
            a(href='#').header-pagination_item.tac Объекты
            a(href='#').header-pagination_item.tac Закупки
            a(href='#').header-pagination_item.active.tac Партнеры
            a(href='#').header-pagination_item.tac Новости
            a(href='#').header-pagination_item.tac Контакты