section.partners
    .objects.swiper-container
        .swiper-wrapper
            .swiper-slide 
                .objects-img 
                    img(src="../img/back.png", alt="")
                .objects-item.f.f-col
                    .objects-item_theme Наши компетенции
                    .objects-item_title Объекты химимческой промышленности
                    .objects-item_text Важнейшим преимуществом компании является способность проектировать и строить «под ключ». При этом данные процессы ведутся одновременно, что позволяет заказчику значительно сократить общий строительный цикл объекта.
            .swiper-slide
                .objects-img 
                    img(src="../img/back.png", alt="")
                .objects-item.f.f-col
                    .objects-item_theme Наши компетенции
                    .objects-item_title Объекты химимческой промышленности
                    .objects-item_text Важнейшим преимуществом компании является способность проектировать и строить «под ключ». При этом данные процессы ведутся одновременно, что позволяет заказчику значительно сократить общий строительный цикл объекта.
        .swiper-pagination
    .partners-features_wrapper.f.jc
        .partners-features.f.jc-sb.fm-col
            .partners-features_item.f.ai.jc
                .partners-features_item-img 
                    img(src="../img/feature-1.png", alt="")
                .partners-features_item-title Услуги проектирования
            .partners-features_item.f.ai.jc
                .partners-features_item-img 
                    img(src="../img/feature-2.png", alt="")
                .partners-features_item-title Строительно- монтажные работы
            .partners-features_item.f.ai.jc
                .partners-features_item-img 
                    img(src="../img/feature-5.png", alt="")
                .partners-features_item-title Экспертная деятельность
            .partners-features_item.f.ai.jc
                .partners-features_item-img 
                    img(src="../img/feature-4.png", alt="")
                .partners-features_item-title Техническое обслуживание
            .partners-features_item.f.ai.jc
                .partners-features_item-img 
                    img(src="../img/feature-3.png", alt="")
                .partners-features_item-title Услуги проектирования
        
