extends ../layout/layout.pug
block vars
	- var title = 'Главная';

block container 
	include ../includes/container.pug
		block header
			include ../includes/header.pug
		block content
			include ../includes/main/content.pug   
              
